@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);






body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Roboto', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Roboto', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #2969b0 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #1b4472;
  border-color: #1b4472;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1b4472 !important;
  border-color: #1b4472 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #16385d;
  color: #16385d;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #2969b0;
  border-color: #2969b0;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #2969b0 !important;
  border-color: #2969b0 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #2969b0 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #2969b0;
}
.btn-social:hover {
  background: #2969b0;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #2969b0;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #2969b0;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #2969b0;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #2969b0;
}
.lead a,
.lead a:hover {
  color: #2969b0;
}
.lead blockquote {
  border-color: #2969b0;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #79aae0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #2969b0;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
.extCountdown1 .number,
.extCountdown2 .number {
  font-family: 'Montserrat', sans-serif;
}
.extCountdown1 .period,
.extCountdown2 .period {
  font-family: 'Lora', serif;
}
.extCountdown1 .dot,
.extCountdown2 .dot {
  font-family: 'Montserrat', sans-serif;
}
.features6 .feature-subtitle {
  font-family: 'Lora', serif;
}
.features6 .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.features6 .description {
  font-family: 'Roboto', sans-serif;
}
.count,
.counter-title {
  font-family: 'Montserrat', sans-serif;
}
.counter-subtitle {
  font-family: 'Lora', serif;
}
.mbr-iconfont-counters1 {
  color: #2969b0;
}
.extHeader1 .container h3,
.extHeader2 .container h3,
.extHeader3 .container h3,
.extHeader5 .container h3,
.extHeader6 .container h3,
.extHeader7 .container h3,
.extHeader8 .container h3,
.extHeader9 .container h3,
.extHeader10 .container h3,
.extHeader12 .container h3,
.extHeader13 .container h3,
.extFeatures10 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader1 .container p,
.extHeader2 .container p,
.extHeader3 .container p,
.extHeader5 .container p,
.extHeader6 .container p,
.extHeader7 .container p,
.extHeader8 .container p,
.extHeader9 .container p,
.extHeader10 .container p,
.extHeader12 .container p,
.extHeader13 .container p,
.extFeatures10 .container p {
  font-family: 'Lora', serif;
}
.extHeader5 .container label {
  font-family: 'Lora', serif;
}
.extHeader9 form p.form-subtitle {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container span {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container p.element {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container p {
  font-family: 'Lora', serif;
}
.extHeader12 h4,
.extFeatures10 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader12 .subtitle,
.extFeatures10 .subtitle {
  font-family: 'Lora', serif;
}
.extHeader13 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader13 .number {
  font-family: 'Montserrat', sans-serif;
}
.extHeader13 .period {
  font-family: 'Lora', serif;
}
.extHeader13 .dot {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures .feature-subtitle {
  font-family: 'Lora', serif;
}
.extFeatures .feature-text {
  font-family: 'Roboto', sans-serif;
}
.extFeatures2 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures3 .border-wrap {
  border-color: #2969b0;
}
.extFeatures4 h4,
.extFeatures6 h4,
.extFeatures5 .card-title h4 {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures4 h5,
.extFeatures6 h5,
.extFeatures5 .card-title h5 {
  font-family: 'Lora', serif;
}
.extForm1 h4,
.extForm2 h4,
.extForm3 h4,
.extForm4 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extForm1 .subtitle,
.extForm2 .subtitle,
.extForm3 .subtitle,
.extForm4 .subtitle {
  font-family: 'Lora', serif;
}
.extForm2 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extForm2 .container p {
  font-family: 'Lora', serif;
}
.extPricingTable1 .bottom_line {
  border-bottom-color: #2969b0;
}
.extPricingTable1 .mbr-price small {
  font-family: 'Lora', serif;
}
.extPricingTable1 .mbr-plan-label {
  background: #2969b0;
}
.extCounters2 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extCounters2 h5 {
  font-family: 'Lora', serif;
}
.extCounters3 .count {
  font-family: 'Montserrat', sans-serif;
}
.extCounters3 .counter-title {
  font-family: 'Montserrat', sans-serif;
}
.extCounters3 .counter-subtitle {
  font-family: 'Lora', serif;
}
.extProgressBar .progress-primary[value]::-webkit-progress-value {
  background-color: #2969b0;
}
.extProgressBar .progress-primary[value]::-moz-progress-bar {
  background-color: #2969b0;
}
@media screen and (min-width: 0\0) {
  .extProgressBar .progress-primary .progress-bar {
    background-color: #2969b0;
  }
}
.extProgressBar .title-wrap {
  font-family: 'Lora', serif;
}
.extProgressBarRound .progress-radial .overlay {
  font-family: 'Montserrat', sans-serif;
}
.extProgressBar4 .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.extProgressBar4 .feature-subtitle {
  font-family: 'Lora', serif;
}
.extTabs1 ul.nav-tabs li a:hover,
.extTabs2 ul.nav-tabs li a:hover {
  color: #2969b0;
}
.extAccordion1 .panel-heading a {
  font-family: 'Roboto', sans-serif;
}
.extAccordion1 .pseudoPlus,
.extAccordion2 .pseudoPlus,
.extToggle1 .pseudoPlus,
.extAccordion1 .pseudoPlus:after,
.extAccordion2 .pseudoPlus:after,
.extToggle1 .pseudoPlus:after,
.extAccordion1 .pseudoMinus,
.extAccordion2 .pseudoMinus,
.extToggle1 .pseudoMinus {
  background-color: #2969b0;
}
.extAccordion2 .panel-heading a,
.extAccordion3 .panel-heading a,
.extToggle1 .panel-heading a {
  font-family: 'Roboto', sans-serif;
}
.extProgressBar5 .progress-primary[value]::-webkit-progress-value {
  background-color: #2969b0;
}
.extProgressBar5 .progress-primary[value]::-moz-progress-bar {
  background-color: #2969b0;
}
@media screen and (min-width: 0\0) {
  .extProgressBar5 .progress-primary .progress-bar {
    background-color: #2969b0;
  }
}
.extProgressBar5 .title-wrap {
  font-family: 'Lora', serif;
}
.extMsg-box1 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box1 .container p {
  font-family: 'Lora', serif;
}
.extMsg-box1 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box1 .subtitle {
  font-family: 'Lora', serif;
}
.extMsg-box2 .container span,
.extMsg-box3 .container span,
.extMsg-box4 .container span {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box2 .container p,
.extMsg-box3 .container p,
.extMsg-box4 .container p {
  font-family: 'Lora', serif;
}
.extProgressBarRound .pie_progress__number {
  font-family: 'Montserrat', sans-serif;
}
.extMenu1 span.icon a:hover {
  color: #2969b0 !important;
}
.extProgressBar .progress-primary[value]::-ms-fill {
  color: #2969b0;
}
.extProgressBar5 .progress-primary[value]::-ms-fill {
  color: #2969b0;
}
.theme-border {
  border: 1px solid #2969b0;
}
#menu-d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-d .navbar-caption {
  color: #ffffff;
  font-size: 22px;
  font-family: 'PT Serif', serif;
}
#menu-d .navbar-toggler {
  color: #ffffff;
}
#menu-d .close-icon::before,
#menu-d .close-icon::after {
  background-color: #ffffff;
}
#menu-d .link,
#menu-d .dropdown-item {
  color: #ffffff;
  font-family: 'PT Serif', serif;
}
#menu-d .link {
  font-size: 1.05rem;
}
#menu-d .dropdown-item,
#menu-d .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-d .link:hover,
#menu-d .dropdown-item:hover,
#menu-d .link:focus,
#menu-d .dropdown-item:focus {
  color: #2969b0;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-menu {
  background: #00274e;
}
#menu-d .nav-dropdown-sm .link:focus,
#menu-d .nav-dropdown-sm .link:hover,
#menu-d .nav-dropdown-sm .dropdown-item:focus,
#menu-d .nav-dropdown-sm .dropdown-item:hover {
  background: #003972!important;
}
#menu-d .navbar,
#menu-d .nav-dropdown-sm,
#menu-d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-d .nav-dropdown-sm .dropdown-menu {
  background: #004181;
}
#menu-d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-d .bg-color.transparent.opened .link:hover,
#menu-d .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#extFeatures3-j .mbr-iconfont-features4 {
  color: #ffffff !important;
}
#extFeatures3-j .wraper {
  border-color: #ffffff !important;
}
#extCountdown2-o .mbr-section-title FONT {
  color: #0a3259;
}
#extTestimonials5-n .mbr-section-subtitle SPAN {
  color: #8c8c8c;
  font-family: 'Roboto', sans-serif;
}
#contacts1-p STRONG {
  color: #ffffff;
}
#footer1-2 P {
  color: #ffffff;
}



#header2-16 .mbr-section-title FONT {
  color: #ffffff;
  font-size: 30px;
}
#header3-u .mbr-section-title,
#header3-u .mbr-section-subtitle {
  text-align: center;
}
#header3-u H3 {
  font-size: 30px;
}
#header1-17 .mbr-section-lead SPAN {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
#header1-17 .mbr-section-title {
  font-size: 30px;
}
#menu-q .hide-buttons .nav-btn {
  display: none !important;
}
#menu-q .navbar-caption {
  color: #ffffff;
  font-size: 22px;
  font-family: 'PT Serif', serif;
}
#menu-q .navbar-toggler {
  color: #ffffff;
}
#menu-q .close-icon::before,
#menu-q .close-icon::after {
  background-color: #ffffff;
}
#menu-q .link,
#menu-q .dropdown-item {
  color: #ffffff;
  font-family: 'PT Serif', serif;
}
#menu-q .link {
  font-size: 1.05rem;
}
#menu-q .dropdown-item,
#menu-q .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-q .link:hover,
#menu-q .dropdown-item:hover,
#menu-q .link:focus,
#menu-q .dropdown-item:focus {
  color: #2969b0;
}
#menu-q .link[aria-expanded="true"],
#menu-q .dropdown-menu {
  background: #00274e;
}
#menu-q .nav-dropdown-sm .link:focus,
#menu-q .nav-dropdown-sm .link:hover,
#menu-q .nav-dropdown-sm .dropdown-item:focus,
#menu-q .nav-dropdown-sm .dropdown-item:hover {
  background: #003972!important;
}
#menu-q .navbar,
#menu-q .nav-dropdown-sm,
#menu-q .nav-dropdown-sm .link[aria-expanded="true"],
#menu-q .nav-dropdown-sm .dropdown-menu {
  background: #004181;
}
#menu-q .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-q .bg-color.transparent.opened .link:hover,
#menu-q .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-q .link[aria-expanded="true"],
#menu-q .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header2-18 .mbr-section-title {
  font-size: 30px;
}
#extFeatures6-19 .card-img {
  background-color: #0a3259 !important;
}
#extFeatures5-1a .mbr-iconfont-features4 {
  color: #0a3259 !important;
}
#extFeatures5-1a .wraper {
  border-color: #0a3259 !important;
}
#contacts1-r STRONG {
  color: #ffffff;
}
#footer1-s P {
  color: #ffffff;
}


#menu-1d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1d .navbar-caption {
  color: #ffffff;
  font-size: 22px;
  font-family: 'PT Serif', serif;
}
#menu-1d .navbar-toggler {
  color: #ffffff;
}
#menu-1d .close-icon::before,
#menu-1d .close-icon::after {
  background-color: #ffffff;
}
#menu-1d .link,
#menu-1d .dropdown-item {
  color: #ffffff;
  font-family: 'PT Serif', serif;
}
#menu-1d .link {
  font-size: 1.05rem;
}
#menu-1d .dropdown-item,
#menu-1d .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-1d .link:hover,
#menu-1d .dropdown-item:hover,
#menu-1d .link:focus,
#menu-1d .dropdown-item:focus {
  color: #2969b0;
}
#menu-1d .link[aria-expanded="true"],
#menu-1d .dropdown-menu {
  background: #00274e;
}
#menu-1d .nav-dropdown-sm .link:focus,
#menu-1d .nav-dropdown-sm .link:hover,
#menu-1d .nav-dropdown-sm .dropdown-item:focus,
#menu-1d .nav-dropdown-sm .dropdown-item:hover {
  background: #003972!important;
}
#menu-1d .navbar,
#menu-1d .nav-dropdown-sm,
#menu-1d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1d .nav-dropdown-sm .dropdown-menu {
  background: #004181;
}
#menu-1d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1d .bg-color.transparent.opened .link:hover,
#menu-1d .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-1d .link[aria-expanded="true"],
#menu-1d .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header1-1g .mbr-section-lead SPAN {
  font-size: 20px;
}
#features4-1j .card-subtitle {
  color: #bcbcbc;
}
#features4-1j .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features4-1j P {
  text-align: center;
}
#contacts1-1e STRONG {
  color: #ffffff;
}
#footer1-1f P {
  color: #ffffff;
}





#menu-1k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1k .navbar-caption {
  color: #ffffff;
  font-size: 22px;
  font-family: 'PT Serif', serif;
}
#menu-1k .navbar-toggler {
  color: #ffffff;
}
#menu-1k .close-icon::before,
#menu-1k .close-icon::after {
  background-color: #ffffff;
}
#menu-1k .link,
#menu-1k .dropdown-item {
  color: #ffffff;
  font-family: 'PT Serif', serif;
}
#menu-1k .link {
  font-size: 1.05rem;
}
#menu-1k .dropdown-item,
#menu-1k .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-1k .link:hover,
#menu-1k .dropdown-item:hover,
#menu-1k .link:focus,
#menu-1k .dropdown-item:focus {
  color: #2969b0;
}
#menu-1k .link[aria-expanded="true"],
#menu-1k .dropdown-menu {
  background: #00274e;
}
#menu-1k .nav-dropdown-sm .link:focus,
#menu-1k .nav-dropdown-sm .link:hover,
#menu-1k .nav-dropdown-sm .dropdown-item:focus,
#menu-1k .nav-dropdown-sm .dropdown-item:hover {
  background: #003972!important;
}
#menu-1k .navbar,
#menu-1k .nav-dropdown-sm,
#menu-1k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1k .nav-dropdown-sm .dropdown-menu {
  background: #004181;
}
#menu-1k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1k .bg-color.transparent.opened .link:hover,
#menu-1k .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-1k .link[aria-expanded="true"],
#menu-1k .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#extHeader3-1p SPAN {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#extFeatures13-1n .etl-icon {
  color: #666666;
}
#extFeatures13-1n P {
  font-family: 'Roboto', sans-serif;
  color: #6b6d6f;
}
#extFeatures13-1n .date P {
  font-family: 'Lora', serif;
  font-size: 22px;
}
#extFeatures13-1n FONT {
  color: #6b6d6f;
}
#contacts1-1l STRONG {
  color: #ffffff;
}
#footer1-1m P {
  color: #ffffff;
}


#gallery1-1y .mbr-gallery-item > div > span {
  text-align: center;
}
#menu-1v .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1v .navbar-caption {
  color: #ffffff;
  font-size: 22px;
  font-family: 'PT Serif', serif;
}
#menu-1v .navbar-toggler {
  color: #ffffff;
}
#menu-1v .close-icon::before,
#menu-1v .close-icon::after {
  background-color: #ffffff;
}
#menu-1v .link,
#menu-1v .dropdown-item {
  color: #ffffff;
  font-family: 'PT Serif', serif;
}
#menu-1v .link {
  font-size: 1.05rem;
}
#menu-1v .dropdown-item,
#menu-1v .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-1v .link:hover,
#menu-1v .dropdown-item:hover,
#menu-1v .link:focus,
#menu-1v .dropdown-item:focus {
  color: #2969b0;
}
#menu-1v .link[aria-expanded="true"],
#menu-1v .dropdown-menu {
  background: #00274e;
}
#menu-1v .nav-dropdown-sm .link:focus,
#menu-1v .nav-dropdown-sm .link:hover,
#menu-1v .nav-dropdown-sm .dropdown-item:focus,
#menu-1v .nav-dropdown-sm .dropdown-item:hover {
  background: #003972!important;
}
#menu-1v .navbar,
#menu-1v .nav-dropdown-sm,
#menu-1v .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1v .nav-dropdown-sm .dropdown-menu {
  background: #004181;
}
#menu-1v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1v .bg-color.transparent.opened .link:hover,
#menu-1v .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-1v .link[aria-expanded="true"],
#menu-1v .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts1-1w STRONG {
  color: #ffffff;
}
#footer1-1x P {
  color: #ffffff;
}



#menu-21 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-21 .navbar-caption {
  color: #ffffff;
  font-size: 22px;
  font-family: 'PT Serif', serif;
}
#menu-21 .navbar-toggler {
  color: #ffffff;
}
#menu-21 .close-icon::before,
#menu-21 .close-icon::after {
  background-color: #ffffff;
}
#menu-21 .link,
#menu-21 .dropdown-item {
  color: #ffffff;
  font-family: 'PT Serif', serif;
}
#menu-21 .link {
  font-size: 1.05rem;
}
#menu-21 .dropdown-item,
#menu-21 .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-21 .link:hover,
#menu-21 .dropdown-item:hover,
#menu-21 .link:focus,
#menu-21 .dropdown-item:focus {
  color: #2969b0;
}
#menu-21 .link[aria-expanded="true"],
#menu-21 .dropdown-menu {
  background: #00274e;
}
#menu-21 .nav-dropdown-sm .link:focus,
#menu-21 .nav-dropdown-sm .link:hover,
#menu-21 .nav-dropdown-sm .dropdown-item:focus,
#menu-21 .nav-dropdown-sm .dropdown-item:hover {
  background: #003972!important;
}
#menu-21 .navbar,
#menu-21 .nav-dropdown-sm,
#menu-21 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-21 .nav-dropdown-sm .dropdown-menu {
  background: #004181;
}
#menu-21 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-21 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-21 .bg-color.transparent.opened .link:hover,
#menu-21 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-21 .link[aria-expanded="true"],
#menu-21 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-28 .mbr-section-title,
#header3-28 .mbr-section-subtitle {
  text-align: center;
}
#header3-28 H3 {
  font-family: 'Roboto', sans-serif;
}
#extFeatures4-26 .mbr-iconfont-features4 {
  color: undefined !important;
}
#extFeatures4-26 .wraper {
  border-color: undefined !important;
}
#extFeatures4-26 P {
  text-align: center;
}
#header3-29 .mbr-section-title,
#header3-29 .mbr-section-subtitle {
  text-align: center;
}
#contacts1-22 STRONG {
  color: #ffffff;
}
#footer1-23 P {
  color: #ffffff;
}





#menu-2a .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2a .navbar-caption {
  color: #ffffff;
  font-size: 22px;
  font-family: 'PT Serif', serif;
}
#menu-2a .navbar-toggler {
  color: #ffffff;
}
#menu-2a .close-icon::before,
#menu-2a .close-icon::after {
  background-color: #ffffff;
}
#menu-2a .link,
#menu-2a .dropdown-item {
  color: #ffffff;
  font-family: 'PT Serif', serif;
}
#menu-2a .link {
  font-size: 1.05rem;
}
#menu-2a .dropdown-item,
#menu-2a .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-2a .link:hover,
#menu-2a .dropdown-item:hover,
#menu-2a .link:focus,
#menu-2a .dropdown-item:focus {
  color: #2969b0;
}
#menu-2a .link[aria-expanded="true"],
#menu-2a .dropdown-menu {
  background: #00274e;
}
#menu-2a .nav-dropdown-sm .link:focus,
#menu-2a .nav-dropdown-sm .link:hover,
#menu-2a .nav-dropdown-sm .dropdown-item:focus,
#menu-2a .nav-dropdown-sm .dropdown-item:hover {
  background: #003972!important;
}
#menu-2a .navbar,
#menu-2a .nav-dropdown-sm,
#menu-2a .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2a .nav-dropdown-sm .dropdown-menu {
  background: #004181;
}
#menu-2a .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2a .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2a .bg-color.transparent.opened .link:hover,
#menu-2a .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-2a .link[aria-expanded="true"],
#menu-2a .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#features1-2f .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #535353;
}
#features1-2f .mbr-cards-col:nth-child(odd) .card-title {
  font-family: 'Roboto', sans-serif;
}
#features1-2f .mbr-cards-col:nth-child(even) .card-title {
  font-family: 'Roboto', sans-serif;
}
#features1-2f .mbr-cards-col:nth-child(odd) .card-text {
  font-family: 'Roboto', sans-serif;
}
#contacts1-2b STRONG {
  color: #ffffff;
}
#footer1-2c P {
  color: #ffffff;
}


#menu-2g .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2g .navbar-caption {
  color: #ffffff;
  font-size: 22px;
  font-family: 'PT Serif', serif;
}
#menu-2g .navbar-toggler {
  color: #ffffff;
}
#menu-2g .close-icon::before,
#menu-2g .close-icon::after {
  background-color: #ffffff;
}
#menu-2g .link,
#menu-2g .dropdown-item {
  color: #ffffff;
  font-family: 'PT Serif', serif;
}
#menu-2g .link {
  font-size: 1.05rem;
}
#menu-2g .dropdown-item,
#menu-2g .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-2g .link:hover,
#menu-2g .dropdown-item:hover,
#menu-2g .link:focus,
#menu-2g .dropdown-item:focus {
  color: #2969b0;
}
#menu-2g .link[aria-expanded="true"],
#menu-2g .dropdown-menu {
  background: #00274e;
}
#menu-2g .nav-dropdown-sm .link:focus,
#menu-2g .nav-dropdown-sm .link:hover,
#menu-2g .nav-dropdown-sm .dropdown-item:focus,
#menu-2g .nav-dropdown-sm .dropdown-item:hover {
  background: #003972!important;
}
#menu-2g .navbar,
#menu-2g .nav-dropdown-sm,
#menu-2g .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2g .nav-dropdown-sm .dropdown-menu {
  background: #004181;
}
#menu-2g .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2g .bg-color.transparent.opened .link:hover,
#menu-2g .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-2g .link[aria-expanded="true"],
#menu-2g .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#msg-box8-2l .mbr-section-title,
#msg-box8-2l p {
  color: #fff;
}
#extShop1-2n .galleryItem h4:hover {
  color: #2969b0;
}
#extShop1-2n .mbr-gallery-filter ul li.active {
  color: #2969b0;
}
#extShop1-2n .mbr-gallery-filter ul li:hover {
  color: #2969b0;
}
#extShop1-2n .mbr-gallery-filter ul li:before {
  background: #2969b0;
}
#extShop1-2n .min-toggle:hover,
#extShop1-2n .max-toggle:hover {
  background-color: #2969b0;
}
#extShop1-2n .shop-title {
  font-family: Montserrat;
}
#extShop1-2n .categories-titles .mbr-gallery-filter ul li {
  font-family: Montserrat;
}
#extShop1-2n .max-input {
  font-family: Montserrat;
}
#extShop1-2n .min-input {
  font-family: Montserrat;
}
#extShop1-2n .item-title {
  font-family: Montserrat;
}
#extShop1-2n .item-subtitle {
  font-family: Lora;
}
#extShop1-2n .card-description {
  font-family: Roboto;
}
#extShop1-2n .shop-item-price {
  font-family: Montserrat;
}
#contacts1-2h STRONG {
  color: #ffffff;
}
#footer1-2i P {
  color: #ffffff;
}
